.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
}

.navbar-brand a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.navbar-brand .navbar-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Fotoğraf ve ad arasında boşluk */
}

.navbar-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #fff;
    transition: transform 0.3s ease;
}

.navbar-profile-img:hover {
    transform: scale(1.1);
    /* Hover ile büyütme efekti */
}

.navbar-username {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-username:hover {
    color: #ddd;
}

.navbar-btn {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-btn:hover {
    background-color: #fff;
    color: #333;
}

.navbar-logout-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-logout-btn:hover {
    background-color: #c82333;
}